.div-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #aaaaaa;
  padding: 100px 0 0 0;
  width: 100vw;
}
.news-title {
  margin-top: 20px;
  font-weight: bold;
  color: blue;
  font-size: 28px;
  text-align: center;
}

.news-subtitle {
  text-align: justify;
  font-size: 16px;
}
.div-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.news-img {
  width: 500px;
  height: auto;
  border-radius: 40px;
}
.div-author-news {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nws {
  display: flex;
  justify-content: center;
}
.news-p {
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
  padding: 30px;
}
.news-img-subtitle {
  font-size: 14px;
}
.div-header {
  margin: 15px;
}
.footer-news {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.news-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* tablet */
@media screen and (max-width: 990px) {
  .news-title {
    font-size: 16px;
  }
  .news-subtitle {
    font-size: 14px;
  }
  .news-img {
    width: 300px;
  }
  .news-text {
    font-size: 14px;
  }
  .div-news {
    height: 100vh;
  }
}
/* desktop */
@media screen and (max-width: 1200px) {
  .div-news {
    height: 100vh;
  }
}
