.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-title {
  color: blue;
  font-weight: bold;
  font-size: 30px;
}
.form-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.news {
  color: white;
}

.camp-text {
  width: 50vw;
  border-radius: 24px;
  border: solid 1px;
  display: block;
  color: black;
  padding: 10px;
}

.camp-img {
  display: none;
}

.camp-title-img {
  background-color: grey;
  padding: 20px 10px;
  display: block;
  cursor: pointer;
}
.camp-title {
  padding: 0 0 0.1em 1em;
}

.camp-title,
.camp-title-img {
  line-height: 1.5;
  font-weight: 700;
  color: blue;
  font-size: 30px;
}

.form-button {
  padding: 1em 3em;
  margin: 2em 0;
  border-radius: 24px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  border: none;
  transition: 0.4s all;
}
.button-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button:hover {
  color: blue;
}
.camp_textArea {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textA {
  resize: none;
}
@media screen and (max-width: 1200px) {
  .camp-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 990px) {
  .camp-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .camp-title {
    font-size: 14px;
  }
}
